apiVersion: v1
kind: Secret
metadata:
  name: api-secret
type: Opaque
stringData:
  BINANCE_API_KEY: "sw7pncwDIxJ8rUBqdsz5SvvzzGFSOQ7IMeoa7QaqqMmhqqejMpijQMBugom6gVnY"
  BINANCE_API_SECRET: "Eh8odcjBtWCIlH7zbeVfNDCxx3EeikkNVZKjDr5JF2957j6MZE9teTWao2TTf48B"
  TELEGRAM_BOT_TOKEN: "8250265895:AAFWixc9NlKTuVZHhDvtrOn_vlHHgYdp3Ko"
  TELEGRAM_CHAT_ID: "1389335079"
